/* Nav
==========================================================*/
.nav {
    width:1060px;
    position: relative;
	margin:0px auto;
    background-color:#0099FF;
	z-index:9999;
}
.navinner {
    background: #0099FF;
	margin-left:0px;
}
.navlist {
    height: 36px;
    line-height: 36px;
    overflow: hidden;
	margin:0px 10px;
	padding:0px;
    background: #0099FF;
	z-index:9999;
}
.nav li {
    float: left;
	width:92px;
    display: inline;
    margin: 0 0 0 -2px;
    padding: 0 8px 0 2px;	
    background: url(../images/menu1.gif) no-repeat right center;
	overflow:hidden;
	z-index:9999;
}
.special{background-color:#2E87C9;}
.nav a {
    display: block;
    width: 90px;
    text-align: center;
	font-family:ºÚÌå;
    font-size: 16px;
	text-decoration:none;
}
.nav a:link, .nav a:visited {
    color: #fff;
}
.nav a.current, .nav a:hover, .nav a:active {
    color: #fff;
    font-weight: bold;
}
.subnav {
    position: absolute;
    top: 41px;
    left: 0;
    float: left;
    height: 27px;
    line-height: 27px;
    white-space: nowrap;
    background: url(../images/lrtk.png) no-repeat 0 -180px;
	
}
* html .subnav {
    margin: 0 10px 0 -10px; /* IE 6 and below */
}
.subnav p {
    padding: 0 10px;
    margin:0px;
    background: url(../images/lrtk.png) no-repeat 100% -234px;
}
.subnav p span {
    display: block;
    background: url(../images/lrtk.png) repeat-x 0 -207px;font-size: 16px;
}
.subnav p.pointer {
    position: absolute;
    top: -4px;
    left: 0;
    height: 5px;
    width: 11px;
    padding: 0;
    margin-left: 20px;
    text-indent: -999em;
    background: url(../images/lrtk.png) repeat-x 0 -261px;
	
}
.subnav a {
    display: inline;
    padding: 0;
    font-size: 100%;
}
[class~="subnav"] a {
    padding: 0 3px;
}
.subnav, .subnav a:link, .subnav a:visited {
    color: #235e99;
}
.subnav a:hover, .subnav a:active {
    color: #235e99;
}
.subnav a:hover, .subnav a:active {
    font-weight: normal;
    background: none;
    border-bottom: 2px solid;
}
/* subnav position and pointer position */
#subnav1 { left: 104px; }
#subnav2 { left: 210px; }
#subnav3 { left: 310px; }
#subnav4 { left: 410px; z-index:9999; }
#subnav5 { left: 500px; }
#subnav6 { left: 610px; overflow:hidden;}
#subnav7 { left: 720px; overflow:hidden;}
#subnav8 { left: 700px;overflow:hidden;}
#subnav9 { left: 870px; overflow:hidden;}

#subnav1 .pointer,
#subnav2 .pointer,
#subnav3 .pointer,
#subnav4 .pointer { left: 30px; }
#subnav5 .pointer { left: 100px;  }
#subnav6 .pointer { left: 100px; }
#subnav7 .pointer { left: auto; right: 40px; }
#subnav8 .pointer{ left: auto; right: 70px; }
#subnav9 .pointer{ left: auto; right: 70px; }



/* Note
==========================================================*/
.note {
    margin: 0 15px 10px;
	color:#666666;
}
.note span{
	float:right;
}
.disable {
    display: none;
} c-0 